<p>cards works!</p>

 <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <!--Card 1-->
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="assets/Images/travel.jpg" alt="Travel">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Travel</div>
        <p class="text-gray-700 text-base">
          Travel is the movement of people between distant geographical locations. Travel can be done by foot, bicycle, automobile, train, boat, bus, airplane, ship or other means, with or without luggage, and can be one way or round trip.
        </p>
      </div>
      <!--<div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
      </div>-->
    </div>
    <!--Card 2-->
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="assets/Images/kids_activities.jpg" alt="Kids">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Kids Activities</div>
        <p class="text-gray-700 text-base">
          Kids activities encompass a wide range of fun and engaging experiences designed specifically for children. These activities play a crucial role in promoting their physical, emotional, social, and cognitive development. 
        </p>
      </div>
      <!--<div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#summer</span>
      </div> -->
    </div>

    <!--Card 3-->
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="assets/Images/health.jpg" alt="Health">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Health</div>
        <p class="text-gray-700 text-base">
          Health is a state of complete physical, mental and social well-being and not merely the absence of disease or infirmity. The enjoyment of the highest attainable standard of health is one of the fundamental rights of every human being without distinction of race, religion, political belief, economic or social condition.
        </p>
      </div>
      <!--<div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#fall</span>
      </div>-->
    </div>
    <!--Card 3-->
    <div class="rounded overflow-hidden shadow-lg">
      <img class="w-full" src="assets/Images/developer.jpg" alt="Developer">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Developer</div>
        <p class="text-gray-700 text-base">
          A developer, also known as a software developer or software coder, builds computer applications by writing, debugging, and executing the source of code in a computer application. 
        </p>
      </div>      
    </div>
  </div>
